    <nav class="navbar bg-dark navbar-inverse">
        <div class="container-fluid">
          <a href="/" type="button" class="btn btn-primary">Home</a>
          <h1 class="headerText">QuizMaster</h1>
        </div>
    </nav>