

.titleText {
  text-align: center;
  margin-top: 3vmin;
}

.container {
  margin-top: 3vmin;
  margin-left: 35vmin;
}

.card {
  width: 50vmin;
}

.card-img-top {
  height: 30vmin;
}

.card-body > h4 {
  text-decoration: underline;
}

.headerText {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 10px;
  margin-right: 80vmin;
  font-size: 5vmin;
}

#actionBtns {
  display: flex;
}

#actionBtns > form > button {
  margin-left: 1vmin;
}

label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolute;
  top: 0; 
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

label.radio span {
  padding: 4px 0px;
  border: 1px solid red;
  display: inline-block;
  color: red;
  width: 100px;
  text-align: center;
  border-radius: 3px;
  margin-top: 7px;
  text-transform: uppercase;
}

label.radio input:checked + span {
  border-color: red;
  background-color: red;
  color: #fff;
}

.ans {
  margin-left: 36px !important;
}

.btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.btn:active {
  outline: 0 !important;
  box-shadow: none !important;
}

#correctAns:focus {
  background-color: green;
  color: white;
} 

#wrongAns:focus {
  background-color: red;
  color: white;
}